$police_title: 'Nosifer', cursive;
$police_default: 'Quicksand', sans-serif;

$bg_color_header_footer: #096C93;
$bg_color_nav: #0E4258;
$bg_color_a_active: #2C697B;
$bg_color_main: #4EA3B7;

@mixin centrer ($justify: center, $direction: column) {
    display: flex;
    justify-content: $justify;
    align-items: center;
    flex-direction: $direction;
}

// NORMALISE //

* {
    box-sizing: border-box;
    font-family: $police_default;
}

// NORMALISE //

@media screen and (max-width: 1200px) {
    body {
        height: 100vh;
        margin: 0;
        @include centrer(start, column);

        & header {
            width: 100%;
            height: 20%;
            @include centrer();
            background-color: $bg_color_header_footer;

            & h1 {
                color: white;
                font-family: $police_title;
                margin: 0;
                width: 95%;
                height: 60%;
                font-size: 3rem;
                background-image: url(../img/logo.svg);
                background-repeat: no-repeat;
                background-position: left;
                background-size: 10%;
                @include centrer();
            }

            & nav {
                background-color: $bg_color_nav;
                width: 100%;
                height: 40%;
                @include centrer();

                & ul {
                    list-style: none;
                    padding: 0;
                    width: 100%;
                    height: 100%;
                    margin: 0;
                    @include centrer(center, row);

                    & li {
                        width: 25%;
                        height: 100%;

                        & a {
                            width: 100%;
                            height: 100%;
                            text-decoration: none;
                            @include centrer();

                            & img {
                                filter: invert(99%);
                                width: 13%;
                            }
                        }

                        & a:hover {
                            background-color: $bg_color_a_active;
                        }
                    }
                }
            }
        }

        & main {
            width: 100%;
            background-color: $bg_color_main;
            @include centrer();

            & h2 {
                width: 85%;
                text-align: start;
            }

            & #meteo_nav_secondaire {
                width: 85%;
                margin-top: 5vh;
                @include centrer(space-between, row);

                & section {
                    width: 50%;

                    & h2 {
                        margin: 0 0 50px 0;
                        width: 100%;
                        font-family: $police_default;
                        font-size: 2rem;
                    }

                    & #articles_meteo {
                        display: grid;
                        grid-template-columns: repeat(2, 1fr);
                        grid-template-rows: repeat(4, 1fr);
                        grid-column-gap: 10px;
                        grid-row-gap: 10px;
                    }
    
                    & article {
                        @include centrer();
                        background-color: white;
                        width: 330px;
                        height: 190px;
                        border-radius: 10px;
                        box-shadow: 0 2px 21px 0px rgb(14 66 89 / 45%);

                        & h3 {
                            text-transform: uppercase;
                            margin: 0;
                            font-size: 1.5rem;
                        }

                        & img {
                            width: 30%;
                        }

                        & p {
                            margin: 0;
                            font-size: 1.5rem;
                            font-weight: bold;

                            & .best_num {
                                color: #DF0713;
                            }

                            & .low_num {
                                color: #3CAEE7;
                            }
                        }
                    }
                        
                    #article_1 { grid-area: 1 / 1 / 2 / 2; }
                    #article_2 { grid-area: 1 / 2 / 2 / 3; }
                    #article_3 { grid-area: 2 / 1 / 3 / 2; }
                    #article_4 { grid-area: 2 / 2 / 3 / 3; }
                    #article_5 { grid-area: 3 / 1 / 4 / 2; }
                    #article_6 { grid-area: 3 / 2 / 4 / 3; }
                    #article_7 { grid-area: 4 / 1 / 5 / 2; }
                    #article_8 { grid-area: 4 / 2 / 5 / 3; }
                }

                & nav {
                    width: 25%;
                    height: 100%;
                    padding: 5% 1%;
                    background-color: white;
                    border-radius: 10px;
                    box-shadow: 0 2px 21px 0px rgb(14 66 89 / 45%);

                    & ul {
                        list-style: none;
                        width: 100%;
                        padding: 0;
                        margin: 0;
                        @include centrer();

                        & li {
                            width: 100%;
                            padding: 3% 2%;
                            margin: 5% 0;
                            border-radius: 10px;
                            @include centrer(center, row);
                            cursor: pointer;

                            & img {
                                width: 10%;
                                filter: invert(20%) sepia(55%) saturate(4432%) hue-rotate(180deg) brightness(91%) contrast(91%);
                            }

                            & a {
                                width: 100%;
                                font-size: 1.2rem;
                                margin-left: 5px;
                                text-decoration: none;
                                color: black;
                                text-transform: uppercase;
                                font-weight: bold;
                            }
                        }

                        & li:hover {
                            background-color: #9CC7D1;
                        }
                    }
                }
            }

            & #imgs_formulaire {
                width: 85%;
                @include centrer(space-between, row);
                margin-top: 10vh;

                & section {
                    width: 30%;
                    @include centrer(space-between, column);
    
                    & div {
                        width: 100%;
                        @include centrer(space-between, row);

                        & img {
                            width: 80%;
                            margin: 1% 3%;
                            box-shadow: 0 2px 21px 0px rgb(14 66 89 / 45%);
                        }
                    }
                }

                & form {
                    background-color: white;
                    box-shadow: 0 2px 21px 0px rgb(14 66 89 / 45%);
                    width: 45%;
                    height: 100%;
                    border-radius: 10px;
                    padding: 5% 0;
                    @include centrer(space-between, column);

                    & #text_form {
                        color: #327192;
                        @include centrer(space-evenly, column);
                        height: 50%;
                        
                        & h2 {
                            width: 100%;
                            text-align: center;
                            margin: 0;
                        }

                        & p {
                            width: 75%;
                            font-weight: bold;
                            text-align: center;
                            margin: 0;
                        }
                    }

                    & #input_btn {
                        width: 100%;
                        @include centrer(space-evenly, column);
                        height: 50%;

                        & input {
                            border: none;
                            box-shadow: 0 2px 21px 0px rgb(14 66 89 / 45%);
                            width: 90%;
                            border-radius: 10px;
                            padding: 3%;
                        }

                        & button {
                            border: none;
                            box-shadow: 0 2px 21px 0px rgb(14 66 89 / 45%);
                            color: white;
                            width: 90%;
                            text-transform: uppercase;
                            background-color: #4EA3B7;
                            border-radius: 10px;
                            padding: 2% 0;
                            cursor: pointer;
                            font-weight: bold;
                            font-size: 1rem;
                        }
                    }
                }
            }
        }
    }
}